# Compiled output
/todo-ngx/dist
/todo-ngx/tmp
/todo-ngx/out-tsc
/todo-ngx/bazel-out

# Node
/todo-ngx/node_modules
/todo-ngx/npm-debug.log
/todo-ngx/yarn-error.log

# Miscellaneous
/todo-ngx/.angular/cache
/todo-ngx.sass-cache/
/todo-ngx/connect.lock
/todo-ngx/coverage
/todo-ngx/libpeerconnection.log
/todo-ngxtestem.log
/todo-ngx/typings

# System files
Thumbs.db

/public/ngx

# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/
